{% extends "layout.html" %}
{% block content %}
<body ng-app="dustad">
    <div class="container" ng-controller="emails" ng-init="emailsCount=0;getEmails();getEmailsCount();">
        <h1 class="text-center">Emails <span id="insname"></span> ({[{emailsCount}]})</h1>
        <hr>
        <div class="text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm" ng-click="showEmailForm()">Compose message</button>
            </div>
        </div>
        <hr>
        <div class="well" id="emaillist"></div>
        <div class="text-center">
            <button type="button" class="btn btn-default" id="loadmore" style="display:none;" ng-click="getEmails()">Load more</button>
        </div>
    </div>
    <div class="container-fluid">
        <div id="myModal" class="modal fade" role="dialog"></div>
    </div>
</body>
{% endblock %}